In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
2+3

5

AI,ML, Data Analysys

interactive python note book--ipynb

In [ ]:
a=10
print(a)
print("address=",id(a))

10
address= 10751144

In [ ]:
b=10
print(b)
print("address=",id(b))
c=a
print(c)
print("address=",id(c))

10
address= 10751144
10
address= 10751144

In [ ]:
a=40
print(a)
print("address=",id(a))

40
address= 10752104

In [ ]:
b=a

print(b)
print("address=",id(b))

40
address= 10752104

In [ ]:
def demoOne(): #function creation
    num1=12
    num2=23
    res = num1*num2
    print(res)
#scope of function ends here
demoOne() #function call

276

In [ ]:
def empName(*name): #it will take unknown number of data in tuple format
    print("Third employee name is ", name[2])
empName("Richa","Raju","Ramya")

Third employee name is  Ramya

In [ ]:
def addition(num1,num2):
    res = num1+num2
    print("Addition of 2 nos.",res)
    print("Function call completed")

#staments outside the function
print("First function call")
addition(12,56) #function call
print("second function call")
addition(34,57) #function call

First function call
Addition of 2 nos. 68
Function call completed
second function call
Addition of 2 nos. 91
Function call completed

In [ ]:

def my3rd(*name):
  print("second name is",name[1])
my3rd("rama","sushu","lucky")

second name is sushu

In [ ]:
def projectdata(pname = "lyfesys"):
  print("chosen proname is -" ,pname)
projectdata("e-tech")
projectdata()
projectdata("protegrity")

chosen proname is - e-tech
chosen proname is - lyfesys
chosen proname is - protegrity

In [ ]:
def empDetails(**emp): #it will take unknown number of data in dictionary format
    print("firstname of employee : ",emp["fname"])
empDetails(fname="Richa",lname="Singh",id=101)

firstname of employee :  Richa

In [ ]:
def empdata(**emp):
  print("id is -",emp["id"])
empdata(fn="pavi",ln="R",id=1234)

id is - 1234

In [ ]:
def location(loc):
    for officeLoc in loc:
        print(officeLoc)

branch = ["Noida","Bangalore","Chennai","Hyderabad","Gurgaon"] # brach will contain list of office location
location(branch) # location function is taking list of data

Noida
Bangalore
Chennai
Hyderabad
Gurgaon

In [ ]:
def locations(list1):
  for i in list1:
    print(i)
branch=["blr","hyd","dlh","chn"]
locations(branch[1])

h
y
d

In [ ]:
'''
def myFun(num):
    return 3*num

print(myFun(4)) # print the output of - 13*45
res = myFun(2) # store the output of - 13*23
print(res)
'''

def three_mul(num):
  res=3*num
  return res
  print("res is-",res)
three_mul(4)

21

In [ ]:
x = lambda num : num*5
print(x(7))

calc = lambda num1, num2 : num1*num2
print(calc(23,45))

name = "Richa Singh"
upper = lambda string :string.upper()
print(upper(name))

35
1035
RICHA SINGH

In [ ]:
upper=lambda string:string.upper()
print(upper("hello"))

HELLO

In [ ]:
lower=lambda string:string.lower()
print(lower("PAVI"))

pavi

In [ ]:
sum =lambda num1,num2,num3:num1+num2+num3
print(sum(2,3,4))

9

In [ ]:
y=lambda n,n2,n3:(n*n2)+n3
print(y(2,3,4))

10

In [ ]:
maxVal = lambda num1, num2 : num1 if(num1>num2) else num2
print(maxVal(2,7))
print("New values")
print(maxVal(23,6))

7
New values
23

In [ ]:
maxnum=lambda num,num2:num if (num>num2) else num2
print(maxnum(23,24))

24

In [ ]:

class Employee :
    eid = 101
    name="Richa"
    address="Noida"
emp = Employee() #object of an employee class i.e --emp

print("Employee id : ",emp.eid)
print("Address : ",emp.address)
print("Name : ",emp.name)

Employee id :  101
Address :  Noida
Name :  Richa

In [ ]:
class Employee :
  eid = 101
  name = "pavithra"
  location = "blr"
  account = "insurance"
empobj = Employee()
print("employee location is ",empobj.location)

employee location is  blr

In [ ]:
class Employee :
   def __init__(self, name, id, address):
        self.empname=name
        self.eid=id
        self.add=address
emp1 = Employee("pavithra", 369,"bangalore")
print("employee for intel company --her/his  name is :",emp1.empname)

employee for intel company --her/his  name is : pavithra

In [ ]:
class Employee :
    def __init__(self,name, id, address):
        self.ename = name
        self.id = id
        self.add = address

emp1 = Employee("John",101,"Bangalore")
print("Employee id : ",emp1.id) #101
print("Name : ",emp1.ename)#John
print("Address : ",emp1.add)#Bangalore

Employee id :  101
Name :  John
Address :  Bangalore

In [ ]:
print("Welcome to new , good project with promoted role pavithra!!!!")

Welcome to new , good project with promoted role pavithra!!!!

In [ ]:
a=20
print(a)
del a
print(a)

20

NameError: name 'a' is not defined

In [ ]:
a=3.14
print(id(a))

132899780549776

In [ ]:
a=b=c=1
print(c)

1

In [ ]:
a,b,c=100,200,"abc"
print(c)

abc

In [ ]:
# Variable Annotation
a:int = 10
print(a)
print(type(a))
print(__annotations__['a'])
b: float = 31.3
print(b)
print(type(b))
print(__annotations__['b'])
c: str = "NTT"
print(c)
print(type(c))
print(__annotations__['c'])
a = "blr"
print(a)

10
<class 'int'>
<class 'int'>
31.3
<class 'float'>
<class 'float'>
NTT
<class 'str'>
<class 'str'>
blr

In [ ]:
z=10
print(type(z))

<class 'int'>

In [ ]:
import keyword
print(keyword.kwlist , end="\n")
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [ ]:
help('if')

The "if" statement
******************

The "if" statement is used for conditional execution:

   if_stmt ::= "if" assignment_expression ":" suite
               ("elif" assignment_expression ":" suite)*
               ["else" ":" suite]

It selects exactly one of the suites by evaluating the expressions one
by one until one is found to be true (see section Boolean operations
for the definition of true and false); then that suite is executed
(and no other part of the "if" statement is executed or evaluated).
If all expressions are false, the suite of the "else" clause, if
present, is executed.

Related help topics: TRUTHVALUE

In [ ]:
# string
s = "code yug"
print(s[0:3:1])
print(s[0:3:])
print(s[2:4:1])

cod
cod
de

In [ ]:
s = "bangalore"

#print(s[0:8:3])
#print(s[0::1])
#print(s[:5:1])
#print(s[0:5:])
ss=['a','b','aa','c']
#print(s[::-1])
print(s[-1::-1])

erolagnab

In [ ]:
s = "Hellow world!"
print(s[-6:-2:])

worl

In [ ]:
from sympy import *
num1=int(input("enter ur num: "))
res=isprime(num1)
print(res)