In [ ]:
prit("welcome to Python world")

NameError: name 'prit' is not defined

In [ ]:
2+3

5

AI,ML, Data Analysys

interactive python note book--ipynb

In [3]:
a=10
print(a)
print("address=",id(a))

10
address= 10751144

In [4]:
b=10
print(b)
print("address=",id(b))
c=a
print(c)
print("address=",id(c))

10
address= 10751144
10
address= 10751144

In [5]:
a=40
print(a)
print("address=",id(a))

40
address= 10752104

In [6]:
b=a

print(b)
print("address=",id(b))

40
address= 10752104

In [7]:
def demoOne(): #function creation
    num1=12
    num2=23
    res = num1*num2
    print(res)
#scope of function ends here
demoOne() #function call

276

In [8]:
def addition(num1,num2):
    res = num1+num2
    print("Addition of 2 nos.",res)
    print("Function call completed")

#staments outside the function
print("First function call")
addition(12,56) #function call
print("second function call")
addition(34,57) #function call

First function call
Addition of 2 nos. 68
Function call completed
second function call
Addition of 2 nos. 91
Function call completed

In [11]:
def empName(*name): #it will take unknown number of data in tuple format
    print("Third employee name is ", name[2])
empName("Richa","Raju","Ramya")

Third employee name is  Ramya

In [15]:

def my3rd(*name):
  print("second name is",name[1])
my3rd("rama","sushu","lucky")

second name is sushu

In [17]:
def projectdata(pname = "lyfesys"):
  print("chosen proname is -" ,pname)
projectdata("e-tech")
projectdata()
projectdata("protegrity")

chosen proname is - e-tech
chosen proname is - lyfesys
chosen proname is - protegrity

In [18]:
def empDetails(**emp): #it will take unknown number of data in dictionary format
    print("firstname of employee : ",emp["fname"])
empDetails(fname="Richa",lname="Singh",id=101)

firstname of employee :  Richa

In [21]:
def empdata(**emp):
  print("id is -",emp["id"])
empdata(fn="pavi",ln="R",id=1234)

id is - 1234